@model List<Product>

<h1 style="color:red;">Products</h1>

<div class="d-flex justify-content-between flex-lg-wrap" >
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18vw; margin-bottom: 20px; font-size:25px;">
            <div class="card-body">
                <p><b>Name: </b> <span style="color:orangered; font-weight:700; font-size:25px;" class="card-title">@item.Name</span></p>

                <p><b>Price:</b>  <span class="card-text">@item.Price</span></p>
                          

                <a href="@Url.Action("DeleteProduct", "Product", new { id = item.Id })" class="card-link">Delete</a>
                <a href="@Url.Action("EditProduct", "Product", new { id = item.Id })" class="card-link">Edit</a>
            </div>
        </div>
    }
</div>