@model ProductCrudEF.Models.Category

<h1 style="color:red;">Add Category</h1>

<form method="post" asp-action="CommitCategory" asp-controller="Product">
    
    <div class="form-group">
        <label for="categoryName" style="font-size:25px;">Category Name: </label>
        <input type="text" asp-for="Name" class="form-control" style="font-size:25px;" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary" style="font-size:25px;">Add Category</button>
</form>